{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true
    },
    "experimental": {
      "plugins": [
        [
          "@formatjs/swc-plugin-experimental",
          {}
        ]
      ]
    }
  }
}
